body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

button {
  font-size: 32px;
  padding: 20px;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background: #38bdf8;
  color: black;
}
